<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/addEvent.css">
  <title>Ievents</title>
</head>

<body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 fixed-top" id="navigation-section">
          <div class="profile-pic mt-5 text-center">
            <img src="img/person.jpeg" alt="" class="img-round">
            <p class="lead text-white pt-3" id="userName">Tunmise Ogunniyi</p>
          </div>
          <div class="pt-3 navigation-links">
            <div class="list-group">
              <a class="list-group-item" href="#">
                <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp; My Events</a>
              <a class="list-group-item" href="#">
                <i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Add Events</a>
              <a class="list-group-item" href="#content-section">
                <i class="fa fa-bank fa-fw" aria-hidden="true"></i>&nbsp; Centers</a>
              <a class="list-group-item" href="#profile-section">
                <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a>
              <a class="list-group-item" href="#">
                <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Logout</a>
            </div>
          </div>
        </div>

        <div class="col-lg-10 offset-md-2" id="add-event-section">
          <nav class="navbar w-100 bg-white mt-3">
            <a class="navbar-brand text-dark" href="#">
              <strong>Add Event</strong>
            </a>
          </nav>

          
        </div>
      </div>
    </div>


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>