<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/addCenter.css">
  <title>Ievents</title>
</head>

<body>
  <!-- Navigation on small screen -->
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top d-block d-sm-none">
    <div class="container">
      <a href="#" class="navbar-brand">
        <strong>Admin</strong>
        <br>
        <p class="h6">Centers</p>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">Centers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Add Center</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <!-- Side navigation on large screen -->
      <div class="col-lg-2 fixed-top  d-none d-md-block" id="navigation-section">
        <div class="profile-pic mt-5 text-center">
          <p class="lead text-white pt-3" id="userName">Admin</p>
        </div>
        <div class="pt-3 navigation-links">
          <div class="list-group">
            <a class="list-group-item" href="#content-section">
              <i class="fa fa-bank fa-fw" aria-hidden="true"></i>&nbsp; Centers</a>
            <a class="list-group-item" href="#">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Add Center</a>
            <a class="list-group-item" href="#">
              <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Logout</a>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-lg-10 offset-md-2" id="add-event-section">

        <!-- Content Header(navigation) on large screen-->
        <nav class="navbar w-100 mt-3 d-none d-md-block">
          <a class="navbar-brand text-white" href="#">
            <strong>Centers</strong>
          </a>
        </nav>

        <div id="centers-section" class="mt-sm-0">
          <div class="container">
            <div id="center-section-content" class="d-flex flex-column align-items-center">
              <!-- Search box on medium screeen and above-->
              <div class="search-box input-group w-50 mt-5">
                <input type="text" class="form-control" placeholder="Search for a center">
                <div class="input-group-btn d-none d-sm-block">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                    Search with
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Location</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Name</a>
                  </div>
                </div>
              </div>
              <!-- Search box on extra small screen -->
              <div class="search-box mt-3 d-block d-sm-none">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                  Search with
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Location</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Name</a>
                </div>
              </div>
            </div>
            <!-- Grid view -->
            <div class="mt-5">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="card">
                    <div>
                      <img class="card-img-top" src="img/eventCenter1.jpeg" alt="">
                      <span class="badge text-white p-2 seat-badge ">4000 seat</span>
                    </div>
                    <div class="card-body d-flex flex-column">
                      <div>
                        <h4 class="card-title">Ottawa event center</h4>
                        <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>&nbsp; Ottawa, USA
                      </div>
                      <a href="#" role="button" class="btn bg-primary text-white mt-3">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pagination  -->
            <div class="mt-3">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a href="" class="page-link">
                    <i class="fa fa-angle-left"></i>
                  </a>
                </li>
                <li class="page-item active">
                  <a href="" class="page-link">1</a>

                </li>
                <li class="page-item">
                  <a href="" class="page-link">2</a>

                </li>
                <li class="page-item">
                  <a href="" class="page-link">3</a>
                </li>
                <li class="page-item">
                  <a href="" class="page-link">4</a>
                </li>
                <li class="page-item">
                  <a href="" class="page-link">5</a>
                </li>
                <li class="page-item">
                  <a href="" class="page-link">
                    <i class="fa fa-angle-right"></i>
                  </a>
                  </i>
                </li>
              </ul>
            </div>

            <footer class="d-none d-sm-block">
              <div class="container text-white text-center py-5">
                <h1>Ievents</h1>
                <p>Copyright &copy; 2017</p>
              </div>
            </footer>
          </div>
        </div>




      </div>
    </div>

    <footer class="d-block d-sm-none mt-5">
      <div class="container text-white text-center py-5">
        <h1>Ievents</h1>
        <p>Copyright &copy; 2017</p>
      </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>