<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/addEvent.css">
  <title>Ievents</title>
</head>

<body>
  <!-- Navigation on small screen -->
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top d-block d-sm-none">
    <div class="container">
      <a href="#" class="navbar-brand">
        <strong>Tunmise</strong>
        <br>
        <p class="h6">Edit Event &nbsp;/ &nbsp; Book a center</p>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="userEvents.html" class="nav-link">My events</a>
          </li>
          <li class="nav-item">
            <a href="addEvent.html" class="nav-link">Add Events</a>
          </li>
          <li class="nav-item">
            <a href="centers2.html" class="nav-link">Centers</a>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <!-- Side navigation on large screen -->
      <div class="col-lg-2 fixed-top  d-none d-md-block" id="navigation-section">
        <div class="profile-pic mt-5 text-center">
          <p class="lead text-white pt-3" id="userName">Tunmise Ogunniyi</p>
        </div>
        <div class="pt-3 navigation-links">
          <div class="list-group">
            <a class="list-group-item" href="userEvents.html">
              <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp; My Events</a>
            <a class="list-group-item" href="addEvent.html">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Add Events</a>
            <a class="list-group-item" href="centers2.html">
              <i class="fa fa-bank fa-fw" aria-hidden="true"></i>&nbsp; Centers</a>
            <a class="list-group-item" href="index.html">
              <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Logout</a>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-lg-10 offset-md-2" id="add-event-section">

        <!-- Content Header(navigation) on large screen-->
        <nav class="navbar w-100 mt-3 d-none d-md-block">
          <a class="navbar-brand text-white" href="#">
            <strong>Edit event</strong>
          </a>
        </nav>

        <form class="mt-sm-5">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="email" class="form-control" id="title" value="My Dad Birthday">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="7" placeholder="More details about the event">My dad's birthday is a really Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, labore dolorum? Dicta suscipit similique unde?</textarea>
          </div>
        </form>

        <form class="my-3 form-inline">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" id="date" value="2017-06-01" class="form-control mx-sm-3">
          </div>
          <div class="form-group">
            <label for="days">Days</label>
            <input type="number" id="days" class="form-control mx-sm-3" value="4">
          </div>
          
        </form>
        <a href="#" class="btn btn-outline-dark">Update</a>
      </div>
    </div>
  </div>

  <footer class="d-block d-sm-none mt-5">
    <div class="container text-white text-center py-5">
      <h1>Ievents</h1>
      <p>Copyright &copy; 2017</p>
    </div>
  </footer>


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>