<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Ievents</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand"><strong>Ievents</strong></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Centers</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Signup</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="main-content-section">
        <div class="dark-overlay">
            <div id="main-content" class="d-flex flex-column align-items-center">
                <div>
                    <h1 class="display-2">Welcome to
                        <strong>Ievents</strong>
                    </h1>
                </div>
                <div>
                    <p class="display-4">Get the perfect center for you events</p>
                </div>
                <div class="search-box input-group w-50 mt-5">
                    <input type="text" class="form-control" placeholder="Search for a center">
                    <div class="input-group-btn">
                        <button type="button" class="btn dropdown-toggle d-none d-md-block" data-toggle="dropdown">
                            Search with
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Location</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Name</a>
                        </div>
                    </div>
                </div>
                <a href="" class="btn btn-secondary mt-3">Checkout Our Centers</a>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-white text-center py-5">
            <h1>Ievents</h1>
            <p>Copyright &copy; 2017</p>
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>