<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/addCenter.css">
  <title>Ievents</title>
  <style>
    .just-link {
      text-decoration: none;
      color: black;
    }

    .just-link:hover {
      color: black;
      text-decoration: underline;
    }

    .just-link:hover span {
      text-decoration: none;
    }

    .text-grey {
      color: grey;
    }

    #content li {
      color: gray;
    }

    #content li:hover {
      color: black;
    }
  </style>
</head>

<body>
  <!-- Top Navigation on small screen -->
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top d-block d-lg-none">
    <div class="container">
      <a href="#" class="navbar-brand">
        <strong>Tunmise</strong>
        <br>
        <p class="h6">Profile</p>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="userEvents.html" class="nav-link">My events</a>
          </li>
          <li class="nav-item">
            <a href="addEvent.html" class="nav-link">Add Events</a>
          </li>
          <li class="nav-item">
            <a href="centers2.html" class="nav-link">Centers</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a href="index.html" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">

      <!-- Side navigation on large screen -->
      <div class="col-lg-2 fixed-top  d-none d-lg-block" id="navigation-section">
        <div class="profile-pic mt-5 text-center">
          <p class="lead text-white pt-3" id="userName">Tunmise Ogunniyi</p>
        </div>
        <div class="pt-3 navigation-links">
          <div class="list-group">
            <a class="list-group-item" href="userEvents.html">
              <i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>&nbsp; My Events</a>
            <a class="list-group-item" href="addEvent.html">
              <i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp; Add Events</a>
            <a class="list-group-item" href="centers2.html">
              <i class="fa fa-bank fa-fw" aria-hidden="true"></i>&nbsp; Centers</a>
            <a class="list-group-item" href="#">
              <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Profile</a>
            <a class="list-group-item" href="index.html">
              <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>&nbsp; Logout</a>
          </div>
        </div>
      </div>

      <!-- Main content -->
      <div class="col-lg-10 offset-lg-2" id="add-event-section">

        <!-- Content Header on large screen-->
        <nav class="navbar w-100 mt-3 d-none d-lg-block">
          <a class="navbar-brand text-white" href="#">
            <strong>Profile</strong>
          </a>
        </nav>

        <!-- Content wrapper -->
        <div class="d-flex align-items-center justify-content-center" style="min-height: 500px; margin-top: 80px;" id="content">
          <div class="bg-white p-3" style="width: 500px;">
            <p class="h1 text-center" style="font-weight: lighter; font-size: 3rem;">Tunmise</p>
            <p class="h3 mt-3" style="font-weight: normal;">Events</p>
            <ul class="list-group">
              <a href="./userEvents.html" class="just-link">
                <li class="list-group-item d-flex justify-content-between align-items-center text-grey">
                  Done
                  <span class="badge badge-primary badge-pill">14</span>
                </li>
              </a>
              <a href="./userEvents.html" class="just-link">
                <li class="list-group-item d-flex justify-content-between align-items-center text-grey">
                  Pending
                  <span class="badge badge-primary badge-pill">2</span>
                </li>
              </a>
              <a href="./userEvents.html" class="just-link">
                <li class="list-group-item d-flex justify-content-between align-items-center text-grey">
                  Canceled
                  <span class="badge badge-primary badge-pill">1</span>
                </li>
              </a>
            </ul>
            <p class="h3 mt-3" style="font-weight: normal;">Account Settings</p>
            <ul class="list-group">
              <a href="" class="just-link" data-toggle="modal" data-target="#change-password-modal">
                <li class="list-group-item">
                  Change Password
                </li>
              </a>
              <a href="" class="just-link" data-toggle="modal" data-target="#delete-account-modal">
                <li class="list-group-item">
                  Delete Account
                </li>
              </a>
            </ul>
          </div>
        </div>
        <!-- /.Content wraper -->


        <!-- Change Password Modal -->
        <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form style="margin-top: 0em;">
                  <div class="form-group">
                    <label for="former-password">Former Password</label>
                    <input type="password" class="form-control" id="former-password">
                  </div>
                  <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input type="password" class="form-control" id="new-password">
                  </div>
                  <div class="form-group">
                    <label for="confirm-new-password">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirm-new-password">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Change</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.Change Password Modal -->

        <!-- Delete Account Modal -->
        <div class="modal fade" id="delete-account-modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p class="h6">Are you sure you wan't to delete your account? </p>
                <span class="text-grey">This action is irreversible, you would loose all your data on this platform.</span>
                <div class="form-group mt-3">
                  <label for="password" class="h6">Your Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Input you password to continue">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.Delete Account Modal -->

      </div>
    </div>
  </div>

  <footer class="d-block d-sm-none mt-5">
    <div class="container text-white text-center py-5">
      <h1>Ievents</h1>
      <p>Copyright &copy; 2017</p>
    </div>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>