<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/signup.css">
  <title>Ievents</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="container">
      <a href="index.html" class="navbar-brand">
        <strong>Ievents</strong>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="centerDetails.html" class="nav-link">Centers</a>
          </li>
          <li class="nav-item">
            <a href="signin.html" class="nav-link">Signin</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="d-flex flex-column align-items-center">
    <div class="card card-form">
      <h1 class="card-header">Sign up</h1>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </div>
              <input type="email" class="form-control" id="email" placeholder="Your Email">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user-secret"></i>
              </div>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user-secret"></i>
              </div>
              <input type="password" class="form-control" id="password" placeholder="Confirm Password">
            </div>
          </div>
          <a href="adminCenters.html" class="btn btn-block dark-button">Submt</a>
        </form>
      </div>
    </div>

    <footer class="w-100 mt-auto">
      <div class="container text-white text-center py-5">
        <h1>Ievents</h1>
        <p>Copyright &copy; 2017</p>
      </div>
    </footer>

  </div>


  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>