$custom-black: rgba(0,0,0,0.9);
$custom-blue: rgb(0, 142, 214);
$background-color: #f6f7fa;


body {
  background-color: $background-color;
  overflow-x: hidden; 
}

body > nav {
  background-color: $custom-black;
  border-bottom: 2px solid rgba(0, 143, 214, 0.873);
}


#navigation-section {
  background-color: $custom-black;
  min-height: 2000px;

  .navigation-links {
    a {
      color: white;
      font-weight: bold;
    }
  
    .list-group-item {
      background-color: transparent;
      border-top: 1px solid $custom-blue;
    }
  
    .list-group-item:last-child {
      border-bottom: 1px solid $custom-blue;
    }
  }
  
}

#centers-section {
  min-height: 700px;
  nav {
    background-color: $custom-black;
  }
  
  .search-box {
    margin-top: 100px;

    .btn {
      color: white;
      background-color: $custom-black;
    }
  }

  .card {
    margin: 5px;
    .btn {
      background-color: $custom-black !important;
    }
  }

  .seat-badge {
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
  }
  
  .pagination {
    a {
      font-weight: bold;
    }
    .active {
      a {
        background-color: rgba(0,0,0,1);
      }
    }
  }

}

#center-details-modal {

  @media (min-width: 576px) {
    .modal-dialog {
      height: 400px;
      width: 400px;
    }
  }
  
  @media (min-width: 992px) {
    .modal-dialog {
      width: 400px;
      .seat-badge {
        position: absolute;
        top: 35%;
        left: 65%;
        font-size: 20px;
        background-color: rgba(0,0,0,0.4);
      }
    }
  }

  .seat-badge {
    position: absolute;
    top: 30%;
    left: 60%;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
  }

  .btn {
    background-color: $custom-black;
  }
}



footer {
  background-color: $custom-black;
  border-top: 2px solid $custom-blue;
}