$custom-black: rgba(0,0,0,0.9);
$custom-blue: rgb(0, 142, 214);

@mixin nav-bar-theme {
  background-color: $custom-black;
  border-bottom: 3px solid $custom-blue;
}

nav#regular-top-navbar{
  @include nav-bar-theme;
}

nav#auth-top-navbar {
  @include nav-bar-theme;
}