$custom-black: rgba(0,0,0,0.9);
body > nav {
  background-color: $custom-black;
  border-bottom: 2px solid rgba(0, 143, 214, 0.873);
}

.card-form {
  margin-top: 100px;
  margin-bottom: 95px;
  width: 350px;
  
  .card-title {
    background-color: $custom-black;
    color: white;
  }

  .dark-button {
    background-color: $custom-black;
    color: white;
  }
}

footer {
  background-color: rgba(0,0,0,0.9);
  border-top: 2px solid rgb(0, 142, 214);
}