@import "../../../styles/variables";

#profile-container {
  #profile-details {
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: black;
        text-decoration: underline;
      }
    }
    .badge {
      background-color: $custom-blue;
    }
  }
  .text-grey {
    color: grey;
  }
}