body > nav {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(0, 143, 214, 0.873); }

#centers-section {
  min-height: 1000px; }
  #centers-section #center-section-header {
    padding-top: 70px; }
  #centers-section .search-box .btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.9); }
  #centers-section .card {
    margin: 5px; }
    #centers-section .card .btn {
      background-color: rgba(0, 0, 0, 0.9) !important; }
  #centers-section .seat-badge {
    position: absolute;
    top: 50%;
    left: 60%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.4); }
  #centers-section .pagination a {
    font-weight: bold; }
  #centers-section .pagination .active a {
    background-color: black; }

@media (min-width: 576px) {
  #center-details-modal .modal-dialog {
    height: 400px;
    width: 400px; } }

@media (min-width: 992px) {
  #center-details-modal .modal-dialog {
    width: 400px; }
    #center-details-modal .modal-dialog .seat-badge {
      position: absolute;
      top: 35%;
      left: 65%;
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.4); } }

#center-details-modal .seat-badge {
  position: absolute;
  top: 30%;
  left: 60%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4); }

#center-details-modal .btn {
  background-color: rgba(0, 0, 0, 0.9); }

footer {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid #008ed6; }
