body {
  background-color: #f6f7fa;
  overflow-x: hidden; }

#navigation-section {
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 700px; }
  #navigation-section .navigation-links a {
    color: white;
    font-weight: bold; }
  #navigation-section .navigation-links .list-group-item {
    background-color: transparent;
    border-top: 1px solid #008ed6; }
  #navigation-section .navigation-links .list-group-item:last-child {
    border-bottom: 1px solid #008ed6; }

#profile-section .profile-card {
  margin: 0 auto; }
  #profile-section .profile-card .list-group-item .lead {
    font-weight: 400; }

#profile-section .profile-card-content {
  margin: 0 auto; }

.img-round {
  height: 150px;
  width: 150px;
  border-radius: 50%; }
