body {
  background-color: #f6f7fa;
  overflow-x: hidden; }

body > nav {
  background-color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid #008ed6; }

#navigation-section {
  background-color: rgba(0, 0, 0, 0.9);
  min-height: 2000px; }
  #navigation-section .navigation-links a {
    color: white;
    font-weight: bold; }
  #navigation-section .navigation-links .list-group-item {
    background-color: transparent;
    border-top: 1px solid #008ed6; }
  #navigation-section .navigation-links .list-group-item:last-child {
    border-bottom: 1px solid #008ed6; }

#main-content nav {
  background-color: rgba(0, 0, 0, 0.9); }

#main-content #transactions .card {
  z-index: 4; }
  #main-content #transactions .card a:hover {
    text-decoration: none; }
  #main-content #transactions .card .card-header {
    background-color: white; }
  #main-content #transactions .card .badge {
    background-color: #008ed6; }

.dark-button {
  background-color: rgba(0, 0, 0, 0.9); }

footer {
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 2px solid #008ed6; }
