$custom-black: rgba(0,0,0, 0.9);
$custom-blue: rgb(0, 142, 214);

#home-container {
  background: url('/images/eventCenter1.jpeg') no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 2px solid $custom-blue;
  .dark-overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
  }
  #page-content {
    padding-top: 100px;
    color: white;
  }
}
