#center-details-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      height: 400px;
      width: 400px;
    }
  } 
  .seat-badge {
    position: absolute;
    top: 200px;
    left: 60%;
    font-size: 20px;
    background-color: rgba(0,0,0,0.4);
  }
  .card-img-top {
    height: 250px;
  }
}
