$custom-black: rgba(0,0,0, 0.9);
$custom-blue: rgb(0, 142, 214);

#sign-in-container {
  .page-content {
    margin-top: 100px;
    min-height: 70vh;
  }
  .card-form {
    margin-bottom: 95px;
    width: 350px;
    .card-title {
      background-color: $custom-black;
      color: white;
    }
  }
}